web/WEB-INF/wsit-sw.ConversionSw.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConversionSw" targetNamespace="http://sw/" xmlns:tns="http://sw/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sc="http://schemas.sun.com/2006/03/wss/server" xmlns:wspp="http://java.sun.com/xml/ns/wsit/policy" 
 >
    <message name="hello"/>
    <message name="helloResponse"/>
    <message name="euroAdolar"/>
    <message name="euroAdolarResponse"/>
    <message name="validarUsuario"/>
    <message name="validarUsuarioResponse"/>
    <message name="Operacion"/>
    <message name="OperacionResponse"/>
    <message name="Formulas"/>
    <message name="FormulasResponse"/>
    <portType name="ConversionSw">
        <operation name="hello">
            <input message="tns:hello"/>
            <output message="tns:helloResponse"/>
        </operation>
        <operation name="euroAdolar">
            <input message="tns:euroAdolar"/>
            <output message="tns:euroAdolarResponse"/>
        </operation>
        <operation name="validarUsuario">
            <input message="tns:validarUsuario"/>
            <output message="tns:validarUsuarioResponse"/>
        </operation>
        <operation name="Operacion">
            <input message="tns:Operacion"/>
            <output message="tns:OperacionResponse"/>
        </operation>
        <operation name="Formulas">
            <input message="tns:Formulas"/>
            <output message="tns:FormulasResponse"/>
        </operation>
    </portType>
    <binding name="ConversionSwPortBinding" type="tns:ConversionSw">
        <operation name="hello">
            <input></input>
            <output></output>
        </operation>
        <operation name="euroAdolar">
            <input></input>
            <output></output>
        </operation>
        <operation name="validarUsuario">
            <input/>
            <output/>
        </operation>
        <operation name="Operacion">
            <input/>
            <output/>
        </operation>
        <operation name="Formulas">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="ConversionSw">
        <port name="ConversionSwPort" binding="tns:ConversionSwPortBinding"/>
    </service>
</definitions>
